			#user-bar {	
				height:25px;
				background:#ffffffff;
				text-align:right;
				vertical-align: middle;
				box-shadow: 3px 3px 2px #e3e3e3;
			}
			
			.form {
			width:50%;
			height:100px;
			float:left;
}
			
			small {
				font-size: 15px;
				color: black;
				font-style: bold;
				font-family: "Times New Roman", Times, serif;
			}
			
			#user-section {
				margin-right: 7px;
				vertical-align: middle;
				box-shadow: 3px 3px 2px #e3e3e3;
			}
			
			#user-settings {
				display:inline-block;
			}
			#user-settings button {
				padding: 0px 3px;
				font-size:0.7rem;
			}
			
			h2 {
				text-align: center;
				margin-top: 250px;
				font-family: "Times New Roman", Times, serif;
				
			}