.search {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: 1px solid black;
  text-indent: 20px;
}


.searchbar {
  margin-top: 20px;
}

.search-img {
  width: 45px;
  height: 45px;
}
